# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=5b350641367205bfa92d4a805e28ef87

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
